<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="app-footer text-center py-3 mt-4">
        <div class="container">
            <p class="mb-1">Sinh viên thực hiện: <strong>Trần Ngọc Tuyên</strong> &nbsp;|&nbsp; MSSV: <strong>24110373</strong></p>
            <p class="mb-1">Môn: Lập trình Web  &nbsp;|&nbsp; Lớp: WEPR330479_11</p>
            <p class="mb-0">Trường Đại học Công nghệ Kỹ thuật TP.HCM &copy; 2026</p>
        </div>
    </footer>
</div>
</body>
</html>